.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-actions {
  display: flex;
  justify-content: end
}

.login-form-button {
  width: fit-content;
}

nz-date-picker {
  margin: 0 8px 12px 0;
}
