<div>
  <nz-content style="display: flex; justify-content: end; align-items: center; height: 100px">
    <button nz-button nzSize="large" nzType="text">
      <span class="home-icon" nz-icon nzTheme="outline" nzType="menu"></span>
    </button>
    <img alt="logo" height="100" ngSrc="images/logo.png" style="object-fit: contain" width="150"/>
    <span class="example-spacer"></span>
    <button nz-button nzSize="large" nzType="text" routerLink="/login" routerLinkActive="active">
      <span class="home-icon" nz-icon nzTheme="outline" nzType="user"></span>
    </button>
    <button nz-button nzSize="large" nzType="text" routerLink="/cart" routerLinkActive="active">
      <span class="home-icon" nz-icon nzTheme="outline" nzType="shopping-cart"></span>
    </button>
  </nz-content>
  <div>
    <nz-input-group
      [nzAddOnAfter]="suffixIconButton"
      nzSearch
      nzSize="large"
    >
      <input
        (input)="searchProducts()"
        [(ngModel)]="searchProduct"
        [nzAutocomplete]="auto"
        nz-input
        placeholder="O que você está procurando?"
      />
      <nz-autocomplete #auto [nzDataSource]="products" nzBackfill></nz-autocomplete>
    </nz-input-group>
    <ng-template #suffixIconButton>
      <button nz-button nzSearch nzSize="large" nzType="primary">
        <span nz-icon nzTheme="outline" nzType="search"></span>
      </button>
    </ng-template>
  </div>
  <div nz-row nzGutter="12" style="margin-top: 20px">
    @for (product of products;track product.id) {
      <div nz-col nzSm="24" nzLg="12" nzXl="6" style="margin-top: 10px">
        <nz-card [nzCover]="coverTemplate" nzHoverable (click)="detailProduct(product)">
          <nz-card-meta [nzDescription]="product.price" [nzTitle]="product.name"></nz-card-meta>
        </nz-card>
        <ng-template #coverTemplate>
          <img alt="example" style="object-fit: contain" height="250" [src]="product.image"/>
        </ng-template>
      </div>
    }
  </div>
  <nz-modal
    (nzOnCancel)="dialogProduct = false"
    [(nzVisible)]="dialogProduct"
    [nzContent]="modalContent"
    [nzFooter]="modalFooter"
    [nzTitle]="modalTitle"
  >
    <ng-template #modalTitle>Detalhamento do Produto</ng-template>

    <ng-template #modalContent>
      <nz-card [nzCover]="coverTemplate" nzBorderless>
        <nz-card-meta [nzDescription]="selectedProduct.price" [nzTitle]="selectedProduct.name"></nz-card-meta>
      </nz-card>

      <ng-template #coverTemplate>
        <img [src]="selectedProduct.image" alt="example" height="250" style="object-fit: contain"/>
      </ng-template>
    </ng-template>

    <ng-template #modalFooter>
      <input
        autofocus
        style="width: 100px; margin-right: 10px"
        nz-input
        required
        [(ngModel)]="selectedProduct.quantity"
        placeholder="Quantidade"
      />
      <button [disabled]="!selectedProduct.quantity" (click)="addToChart()" [nzLoading]="loading" nz-button nzType="primary">Adicionar</button>
    </ng-template>
  </nz-modal>
</div>
